@import "mixins.less";

.header {
  background: url(https://images.pexels.com/photos/220116/pexels-photo-220116.jpeg?cs=srgb&dl=autumn-background-board-220116.jpg&fm=jpg);
  background-size: auto;
  min-height: 10vh;
  max-height: 10vh;
  min-width: 100vw;
  position: fixed;
  z-index: 1;
  color: @concrete;
  .header__dropdown {
    position: absolute;
    .containers(@flexDirection: row);
    .dropdown__title {
      z-index: 2;
      margin: 1rem;
      padding: 1rem;
      border-radius: 5rem;
      background: @brown;

      &:hover {
        cursor: pointer;
        filter: brightness(150%);
      }
    }
    .dropdown__item--fadein {
      margin: 1rem;
      padding: 1rem;
      border-radius: 5rem;
      opacity: 0;
      animation: fadeIn 0.2s forwards ease-in;
      &:hover {
        cursor: pointer;
        filter: brightness(150%);
      }
    }
    .dropdown__item--fadeout {
      margin: 1rem;
      padding: 1rem;
      border-radius: 5rem;
      animation: fadeout 0.2s forwards ease-in;
    }
    .dropdown__item--hidden {
      display: none;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
