@brown: #262216;
@olive: #49412c;
@mustard: #97743a;
@concrete: #b0a18e;

@dropdown: 0;

.containers(@flexDirection: column, @justifyContent: center, @alignItems: center) {
  display: flex;
  flex-direction: @flexDirection;
  justify-content: @justifyContent;
  align-items: @alignItems;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.2rem;
}

.titles() {
    font-size: 1.5rem;
}


