.header {
  background: url(https://images.pexels.com/photos/63564/pexels-photo-63564.jpeg?cs=srgb&dl=beach-clouds-landscape-63564.jpg&fm=jpg);
  background-position-x: 0%;
  background-repeat: repeat-x;
  animation: drift 1000s infinite ease-in;
  background-size: 100vw 10vw;
  min-height: 10vh;
  max-height: 10vh;
  min-width: 1000vw;
  position: fixed;
  z-index: 1;
}
.header .header__dropdown {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.2rem;
}
.header .header__dropdown .dropdown__title {
  z-index: 2;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5rem;
  background: #262216;
  color: #b0a18e;
  border: 0.1rem solid #b0a18e;
  min-width: 7rem;
  text-align: center;
}
.header .header__dropdown .dropdown__title:hover {
  cursor: pointer;
  filter: brightness(150%);
}
.header .header__dropdown .dropdown__item--fadein {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5rem;
  opacity: 0;
  animation: fadeIn 0.2s forwards ease-in;
  text-decoration: none;
  color: #b0a18e;
  border: 0.1rem solid #b0a18e;
}
.header .header__dropdown .dropdown__item--fadein:hover {
  cursor: pointer;
  filter: brightness(150%);
}
.header .header__dropdown .dropdown__item--fadeout {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5rem;
  animation: fadeout 0.2s forwards ease-in;
  text-decoration: none;
  color: #b0a18e;
  border: 0.1rem solid #b0a18e;
}
.header .header__dropdown .dropdown__item--hidden {
  display: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes drift {
  0% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}
