.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.2rem;
  margin-top: 10vh;
}
.home .home__packages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.2rem;
  background: #f1e1b0;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
  border: 1rem solid #111c22;
  border-width: 0 1rem 1rem 1rem;
  min-width: 70vw;
  min-height: 30vh;
}
.home .home__packages .packages__package {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.2rem;
  background: #111c22;
  border-radius: 5rem;
}
.home .home__packages .packages__package .package__name {
  padding: 0.5rem 0;
  color: #eec49e;
}
.home .home__packages .packages__package .package__image {
  background: #424652;
  border-radius: 1rem;
  object-fit: contain;
  object-position: 50% 50%;
  position: relative;
  padding: 0.5rem;
  min-height: 10vh;
  max-height: 10vh;
  min-width: 10vw;
  max-width: 10vw;
}
.home .home__packages .packages__package .package__image:hover {
  cursor: pointer;
}
.home .home__packages .packages__package0 {
  transform: rotate(30deg) translate(-7vw, 3vh) scale(0.8);
  opacity: 0.6;
}
.home .home__packages .packages__package1 {
  transform: rotate(5deg) translate(-5vw, 5vh);
  opacity: 0.8;
}
.home .home__packages .packages__package2 {
  transform: translate(0, 5vh) scale(1.2);
}
.home .home__packages .packages__package3 {
  transform: rotate(-5deg) translate(5vw, 5vh);
  opacity: 0.8;
}
.home .home__packages .packages__package4 {
  transform: rotate(-30deg) translate(7vw, 3vh) scale(0.8);
  opacity: 0.6;
}
.home .home__arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.2rem;
  background: #786352;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
  padding: 1rem;
  min-width: 15vw;
}
.home .home__arrows .arrows__button {
  box-shadow: 0px 0px 10px 5px #f1e1b0;
  margin: 0 1rem;
  background: #111c22;
  border-radius: 1rem;
}
.home .home__arrows .arrows__button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 10px #eec49e;
}
.home .home__arrows .arrows__button .button__icon {
  margin: 1rem;
  color: #eec49e;
}
.home .home__arrows .arrows__button:focus {
  outline: 0;
}
.home .home__home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.2rem;
}
.home .home__home .home__welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: 1vh 5vw 30vh 1vw;
  padding: 2rem;
  min-height: 10vh;
  width: 55vw;
  background: #eec49e;
  color: #786352;
  border-top-right-radius: 20rem;
  border-top-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
}
.home .home__home .home__welcome .welcome__text {
  animation: scroll1 5s forwards;
  overflow: hidden;
  line-height: 1.5rem;
  white-space: nowrap;
  width: auto;
  max-width: 55vw;
  margin-right: auto;
  padding: 0.5rem 0.25rem;
}
.home .home__home .home__welcome .welcome__text--alt {
  animation: scroll2 5s forwards;
  overflow: hidden;
  line-height: 1.5rem;
  white-space: nowrap;
  width: auto;
  max-width: 55vw;
  margin-right: auto;
}
.walk-away {
  position: relative;
  animation: 7s leave forwards;
}
.walk-to {
  position: relative;
  animation: 7s enter forwards;
}
@keyframes scroll1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes scroll2 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes leave {
  from {
    left: 0vw;
  }
  to {
    left: -25vw;
  }
  0% {
    transform: rotate(0deg) translate(0px, 0px);
  }
  10% {
    transform: rotate(5deg) translate(0px, 20px);
  }
  20% {
    transform: rotate(0deg) translate(0px, 0px);
  }
  30% {
    transform: rotate(-5deg) translate(0px, 20px);
  }
  40% {
    transform: rotate(0deg) translate(0px, 0px);
  }
  50% {
    transform: rotate(5deg) translate(0px, 20px);
  }
  60% {
    transform: rotate(0deg) translate(0px, 0px);
  }
  70% {
    transform: rotate(-5deg) translate(0px, 20px);
  }
  80% {
    transform: rotate(0deg) translate(0px, 0px);
  }
}
@keyframes enter {
  from {
    left: -25vw;
  }
  to {
    left: 0vw;
  }
  0% {
    transform: rotate(0deg) translate(0px, 0px);
  }
  10% {
    transform: rotate(5deg) translate(0px, 20px);
  }
  20% {
    transform: rotate(0deg) translate(0px, 0px);
  }
  30% {
    transform: rotate(-5deg) translate(0px, 20px);
  }
  40% {
    transform: rotate(0deg) translate(0px, 0px);
  }
  50% {
    transform: rotate(5deg) translate(0px, 20px);
  }
  60% {
    transform: rotate(0deg) translate(0px, 0px);
  }
  70% {
    transform: rotate(-5deg) translate(0px, 20px);
  }
  80% {
    transform: rotate(0deg) translate(0px, 0px);
  }
}
